*{
    box-sizing: border-box;
    
}
.header_image{
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
    /* border: 2px solid black; */
}
.discription{
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 50px ;
    justify-content: center;
    font-family:helvetica-w01-light,helvetica-w02-light,sans-serif;
}  
   

.youtube{
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    width: 50vw;
    height:auto
}


.centre-btn{
    position: relative;
    justify-content: center;
    margin-left: 35%;
}
.buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;}
    
        .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;}


/*footer */
/* logo link css */
.mlink a{
  color:black;
  background-color: transparent;
  text-decoration: none;
  
}
.mlink a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
/* footer css */
      .site-footer {
        /* background-color: #838383; */
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
      }
      
      #social-wrapper {
        text-align: center;
      }
      
      /*Social Media Icons*/
      .social-wrapper {
        text-align: center;
      }
      
      .social-wrapper ul li {
        display: inline;
        margin: 0 5px;
      }
      
      .twitter-icon,
      .facebook-icon,
      .instagram-icon,
      .linkedin-icon,
      .youtube-icon,
      .foursquare-icon{
        margin-top: .625em;
        width: 25px;
        height: 25px;
        opacity: .6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        border-radius: 25px;
      }
      
      .twitter-icon:hover,
      .facebook-icon:hover,
      .instagram-icon:hover,
      .linkedin-icon:hover,
      .googleplus-icon:hover,
      .youtube-icon:hover,
      .foursquare-icon:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
      }
      
      .footer-nav p {
        text-align: center;
      }

/* button group-12-10 */
btn-group a  {
    padding: 0px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: auto; 
    height: auto;/* Set a width if needed */
    display: block; 
    text-overflow: ellipsis;
    text-size-adjust: auto;
    white-space: nowrap;
    font-size: 1.5rem;
    
  }


  .anchor{
    border:1px solid black;
    justify-content: center;
    text-align: center;
    width: 20%;
    padding: 8px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    display:block;
    justify-content: center;
    
}
#anchor a:hover{
    background: black;
    color:white;
    text-decoration: none;
}
 #desk-btn{
    position:relative;
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    
 }
@media  screen and (max-width: 768px){
    .btn-group {
        display: flex;
        flex-direction: column;
        
    }
    #for-mobile-view{
        padding: 0px;
    }
    #btn a{
        display:flex;
        width: 80vw;
        align-items: center;
        justify-content: center; 
        margin-left: 5%;
    }
    #desk-btn{
       padding: 0 !important;   
         
    }
}

      /* .button{
        width: 60%;
        margin: 20px;
        box-sizing: border-box;
        
      }
      .btm-container{
        width: 100%;
        height:auto;
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: space-around;
      }
       .btn-display{
        position: relative;
        left:35%;
       }

       .btn-box{
            display:flex;
            align-items: center;
            height: 40vh;
            width: 100vw;
            justify-content: center;
            margin-top: 30px;
            box-sizing: border-box;
            margin-top: 0;
       }
       .btn-size{
        width:180px;
        text-align: center;
        box-sizing: border-box;

       } */
      

      
      